<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276769029855-6q6d3cu4h51ap2jei2bsj550gl4sh0ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276769029855-6q6d3cu4h51ap2jei2bsj550gl4sh0ft</string>
	<key>API_KEY</key>
	<string>AIzaSyCqcdNs3jzZUMhrF5vYDmpifw-cOGVReko</string>
	<key>GCM_SENDER_ID</key>
	<string>276769029855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thientung.Messenger-Cover-App</string>
	<key>PROJECT_ID</key>
	<string>messenger-cover</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-cover.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276769029855:ios:0ff39a53cd735234b9736a</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-cover.firebaseio.com</string>
</dict>
</plist>